﻿body
{
    background-color:white;
    color:black;
    text-align:center;
}
#conteiner 
{
    min-width:320px;
}

.label-default 
{
   float:left;
   margin:5px 10px 5px 10px;
   font-size:14px;
   height:30px;
   padding-top:7px;
   width:90px;
}
.result 
{
    height: 30px;
    width: 140px;
    border: 2px solid #ccc;
    padding: 3px;
    box-shadow: 0 0 10px 0 #bbb;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 25px;
    margin:5px;
    float:left;
    resize:none;
}

.btn-primary 
{
    width:50px;
    float:left;
    margin:5px;
    height:30px;
}

.pom
{
    clear:both;
}

#save
{
    width:150px;
    height:50px;
    margin:20px;
}

#rateYo1{
    margin-top:7px;
    float:left;
}

#mood {
    margin-top: 7px;
    float: left;
}

#stress {
    margin-top: 7px;
    float: left;
}

.checkbox{
    width:25px;
    height:25px;
    float:left;
} 

#myRange {
    width: 140px;
}

.dreamsRadio {
    position: relative;
    padding-left: 25px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .dreamsRadio input {
        position: absolute;
        opacity: 0;
    }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.dreamsRadio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.dreamsRadio input:checked ~ .checkmark {
    background-color: #2196F3;
}

#checks
{
    margin-right:90px;
}




