body
{
    background-color: black;
    color: white;
}

#conteiner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 80px;
    min-width: 320px;
}
#title
{
    font-size: 60px;
}

.form-control
{
    width:300px;
    margin-left:auto;
    margin-right:auto;
}

#signOutButton
{
    width: 150px;
    height: 50px;
    font-size: 25px;
}

#signInButton {
    width: 150px;
    height: 50px;
    font-size: 25px;
}