﻿body {
    background-color: white;
    color: black;
    text-align: center;
}

#conteiner {
    min-width: 320px;
}

#chartContainer
{
    height: 250px;
}

#chartContainerHistory {
    height: 200px;
}

.btn-warning{
    width:100px;
    margin:10px;
}