﻿#zip-code-input {
    height: 30px;
    width: 180px;
    border: 2px solid #ccc;
    padding: 3px;
    box-shadow: 0 0 10px 0 #bbb;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 25px;
    margin: 5px;
    resize: none;
}

#titleTable {
    background-color: #286090;
    height: 40px;
    color: #fff;
}

#zipLabel{
    margin:5px;
}

#get-weather-btn{
    margin:5px;
}